.App {
	text-align: center;
	min-height: 100vh;
}

/* .App > div {
	min-height: 95vh;
} */

fieldset {
  border: none;
}

ul {
	margin: 0;
	padding: 0;
}

.pagination ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  display: inline-block;
	padding: .5em;
	border: 1px solid gainsboro;
}

.pagination a {
	cursor: pointer;
}

.pagination .break a {
  cursor: default;
}

.pagination .active {
	background-color: coral;
}
