.browse-container h3 {
  font-weight: 400;
  font-size: 1em;
  color: white;
}

.browse-container a {
  font-size: 1em;
  text-decoration: none;
  color: #01D277;
}

.browse-list li {
  display: inline;
  padding: .2em;
}

.browse-list a {
  text-decoration: underline;
}

@media only screen and (min-width: 640px) {
	.browse-list {
		width: 640px;
		margin: 0 auto;
	}
}
