.dashboard {
  padding-bottom: 1em;
}

.dashboard-content h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.3em;
}

.dashboard-list li {
  display: inline;
  padding: .2em;
}

.dashboard-list {
  margin-bottom: 1em;
}

.see-watchlist, .see-watched {
  display: flex;
  justify-content: center;
}

.see-watched a , .see-watchlist a{
  display: block;
  width: 10em;
  padding: .7em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: gainsboro;
  color: #CC3333;
  font-weight: 600;
  font-size: 1.1em;
}

.see-watched a:hover , .see-watchlist a:hover {
  background-color: #01D277;
}

.dashboard-content a {
  text-decoration: none;
}

.dashboard-content h3 {
  margin: 2em;
  color: #01D277;
}

@media only screen and (min-width: 660px) {
	.dashboard-content {
		width: 660px;
		margin: 0 auto;
	}

  .dashboard-content h2 {
    margin-left: .6em;
    text-align: left;
  }

  .dashboard-content button {
  }
}
