.login-container {
  margin-top: 2em;
  background-color: transparent;
  height: 100%;
}

.login-form {
  padding: 1em;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
