.radio-item {
  position: absolute;
  opacity: 0;
  z-index: 20;
  width: 1.8em;
  height: 1.8em;
}

.rating-btn {
  width: 1.8em;
  height: 1.8em;
  padding: .4em;
}

.rating-form {
  position: relative;
  padding-bottom: .4em;
}

.radio-item + .empty:before {
  font-family: 'icomoon';
  display: inline-block;
  content: "\e9d7";
  font-size: 1.8em;
  color: gold;
}

.radio-item + .full:before {
  font-family: 'icomoon';
  display: inline-block;
  content: "\e9d9";
  font-size: 1.8em;
  color: gold;
}

.radio-item:checked + label:before {
  font-family: 'icomoon';
  display: inline-block;
  content: "\e9d9";
  font-size: 1.8em;
  color: gold;
}
