.radio-item {
  /* border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; */
}

.radio-item + .empty:before {
  font-family: 'icomoon';
  display: inline-block;
  content: "\e9d7";
  letter-spacing: 10px;
  font-size: 1.2em;
  color: #535353;
}

.radio-item + .full:before {
  font-family: 'icomoon';
  display: inline-block;
  content: "\e9d9";
  letter-spacing: 10px;
  font-size: 1.2em;
  color: #535353;
}

.radio-item:checked + label:before {
  font-family: 'icomoon';
  display: inline-block;
  content: "\e9d9";
  letter-spacing: 10px;
  font-size: 1.2em;
  color: #535353;
}
