@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7fdtl5');
  src:  url('fonts/icomoon.eot?7fdtl5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7fdtl5') format('truetype'),
    url('fonts/icomoon.woff?7fdtl5') format('woff'),
    url('fonts/icomoon.svg?7fdtl5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-history:before {
  content: "\e94d";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}


body {
  box-sizing: border-box;
  margin-top: -50;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
  cursor: pointer;
}
