@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?qbro1');
  src:  url('./fonts/icomoon.eot?qbro1#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?qbro1') format('truetype'),
    url('./fonts/icomoon.woff?qbro1') format('woff'),
    url('./fonts/icomoon.svg?qbro1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e94e";
}
.icon-search:before {
  content: "\e986";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}

body {
  box-sizing: border-box;
  margin-top: -50;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Fira Sans', sans-serif;
  background: rgb(62,5,5);
  background: linear-gradient(0deg, rgba(62,5,5,1) 0%, rgba(177,20,13,1) 94%, rgba(217,70,23,1) 100%);
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}
